.App {
  text-align: center;
  background-color: #f1f3f6;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  background-color: white;
  margin: 20px 50px;
  padding: 20px;
  position: relative;
}

footer {
  flex-shrink: 0;
}