.product-list {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70vh;
}

.shopping-cart-button {
    position: absolute;
    right: 50px;
    bottom: 30px;
}