.product {
    border: solid 1px lightgray;
    width: 200px;
    margin: 5px;
}

.product>img {
    width: 200px;
    height: 200px;
}

.product>.desc {
    color: gray;
}

.product>button {
    border-radius: 50%;
}