.product {
    border: solid 1px lightgray;
    width: 200px;
    margin: 5px;
    text-align: left;
}

.product>img {
    width: 200px;
    height: 200px;
}

.product .price {
    color: gray;
    font-size: small;
    margin: 0;
}

.product .desc {
    padding: 10px;
}

.product button {
    float: right;
    margin-bottom: 15px;
}